<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/logo5.png" type="image/png">
    <title>Space Holic</title>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/animate-css/animate.css">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body class="home_banner_area">
    <div class="home_banner_area">
        <div class=" d-flex align-items-center">
                <div class="row h-100">
                    <div class="col-lg-12 offset-lg-12 col-xl-12 offset-xl-12 h-100">
                        <a class="banner_btn btn btn-link" href="register.html"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
    <header class="header_area">
        <div class="main_menu">
            <nav class="bg-white navbar navbar-expand-lg navbar-light ">
                <div class="container">
       
                    <a class="navbar-brand logo_h " href="index.html"><img src="img/logo3.png" class="mt-4"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                            <li class="nav-item"><a class="nav-link" href="login.html">Đăng nhập</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
                        </ul>
                    </div>
                    <div class="right-button">
                        <ul>
                            <li><a class="sign_up" href="register.html">Đăng ký</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        
    </header>
    
    <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
        <p class="footer-text-1 m-0 col-lg-8 col-md-12">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved <i aria-hidden="true"></i> by
            Space Holic
        </p>
    </div>
    </div>
    </footer>

    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/theme.js"></script>
</body>

</html>