<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/logo5.png" type="image/png" />
    <title>Space Holic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="bg-white navbar navbar-expand-lg navbar-light ">
                <div class="container">

                    <a class="navbar-brand logo_h " href="index.html"><img src="img/logo3.png" class="mt-4"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav">
                            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                                <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Thao tác</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="deposit.html">Nạp tiền</a></li>
                                        <li class="nav-item"><a class="nav-link" href="transfer.html">Chuyển tiền</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="drawback.html">Rút tiền</a></li>
                                        <li class="nav-item"><a class="nav-link" href="mobileCard.html">Mua thẻ điện
                                                thoại</a></li>
                                        <li class="nav-item"><a class="nav-link" href="trade.html">Lịch sử giao dịch</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
                                <li class="nav-item submenu dropdown d-lg-none">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                        aria-haspopup="true" aria-expanded="false">Thông tin</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="info.html">Thông tin cá nhân</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal"
                                                data-target="#exampleModalCenter">Đối mật khẩu</a></li>
                                        <li class="nav-item"><a class="nav-link" href="bosungCMND2.html">Bổ sung
                                                CMND</a></li>
                                        <li class="nav-item"><a class="nav-link" href="index.html">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="right-button">
                        <ul>
                            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                                <li class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle text" href="#" id="navbardrop"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Lâm Chí Cường
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item text" href="info.html">
                                            <i class="bi bi-person mr-3"></i>
                                            <span class=""> Thông tin cá nhân</span>
                                        </a>
                                        <a class="dropdown-item text" data-toggle="modal"
                                            data-target="#exampleModalCenter" href="#">
                                            <i class="bi bi-gear mr-3"></i>
                                            <span class=""> Đổi mật khẩu</span>
                                        </a>
                                        <a class="dropdown-item text" href="bosungCMND2.html">
                                            <i class="bi bi-person-square mr-3"></i>
                                            <span class=""> Bổ sung CMND</span>
                                        </a>
                                        <a class="dropdown-item text" href="index.html">
                                            <i class="bi bi-box-arrow-left mr-3"></i>
                                            <span class=""> Đăng Xuất</span>
                                        </a>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class=" form-group h-100 form-inline justify-content-center align-items-center">
                        <img src="./img/logo5.png" class="logo-changepass text-center">
                    </div>
                    <div class="col-md-12 form-group form-inline justify-content-center align-items-center text-center">
                        <div class="text-center recoveryHeader mt-4 mb-4">Đổi mật khẩu</div>
                    </div>
                    <div class=" changepasstext col-md-12 form-group form-inline p-0">
                        <label class="col-sm-4 col-form-label" for="">Nhập mật khẩu cũ</label>
                        <input type="text" class="form-control col-8" required>
                    </div>
                    <div class="changepasstext col-md-12 form-group form-inline p-0">
                        <label class="col-sm-4 col-form-label" for="">Nhập mật khẩu mới</label>
                        <input type="text" class="form-control col-8" required>
                    </div>
                    <div class="changepasstext col-md-12 form-group form-inline p-0">
                        <label class="col-sm-4 col-form-label" for="">Xác nhận mật khẩu</label>
                        <input type="text" class="form-control col-8" required>
                    </div>
                    <div class="col-md-12 form-inline p-0">
                        <div class="back-button col-sm-9 ml-4 col-form-label">
                            <a href="./index.html" class="btn btn-warning text-center recoveryBack">Quay lại</a>
                        </div>
                        <div class="send-button col-sm-2">
                            <button type="submit" class="btn btn-danger text-center">Gửi Yêu Cầu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="hero-banner d-flex align-items-center">
        <div class="container text-center">
            <h2>Trang thông tin cá nhân</h2>
            <nav aria-label="breadcrumb" class="banner-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="./index.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lâm Chí Cường</li>
                </ol>
            </nav>
        </div>
    </section>


    <section class="about-area">
        <div class="container">
            <div class="row align-items-center">
                <form class="userinfo">
                    <div class="col-lg-12">
                        <h1 class="mt-4">Thông tin người dùng</h1>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group focused">
                                    <label class="form-control-label">Họ tên</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Họ tên">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Địa chỉ email</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label class="form-control-label">Sinh nhật</label>
                                    <input type="date" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Vai trò</label>
                                    <input type="text" class="form-control form-control-alternative">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Trạng thái</label>
                                    <input type="text" class="form-control form-control-alternative">
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <h1 class="mt-4">Thông tin liên hệ</h1>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group focused">
                                    <label class="form-control-label">Địa chỉ</label>
                                    <input class="form-control form-control-alternative" placeholder="Địa chỉ"
                                        type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="form-control-label">Số điện thoại</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Số điện thoại">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <h1 class="mt-4">Thông tin giao dịch</h1>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="form-control-label">Số dư</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Số dư">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group">
                                    <label class="form-control-label">Số lần giao dịch</label>
                                    <input type="text" class="form-control form-control-alternative"
                                        placeholder="Số lần giao dịch">
                                </div>
                            </div>
                        </div>
                </form>
            </div>

        </div>
    </section>
    <footer class="footer-area">
        <div class="container">
            <div class="row align-items-center text-center">

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                    <h4>Về chúng tôi</h4>
                    <p>Ví điện tử hot nhất năm 2022</p>
                    <div class="footer-logo ml-4 d-none d-xl-block">
                        <img src="img/logo2.png" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 mb-4 mb-xl-0  single-footer-widget">
                    <h4>Thông tin liên hệ</h4>
                    <div class="footer-address">
                        <p>Địa chỉ : Thành Phố Hồ Chí Minh</p>
                        <span>Số điện thoại : </span>
                        <span>Email : </span>
                    </div>
                </div>

                <div
                    class="col-lg-6 col-md-8 mb-4 mb-xl-0 m-auto justify-content-center align-items-center text-center single-footer-widget ">
                    <img src="./img/logo5.png" class="footer-img mx-auto">
                </div>
            </div>

        </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
            <p class="footer-text m-0 col-lg-8 col-md-12">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved <i
                    aria-hidden="true"></i> by Space Holic
            </p>
        </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>