<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/img/logo5.png" type="image/png" />
    <title>Space Holic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="home_banner_area">
    <header class="header_area bg-white">
        <div class="container">

            <nav class=" navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand logo_h " href="index.html"><img src="/img/logo3.png" class="mt-4"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav">
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Thao tác</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="deposit.html">Nạp tiền</a></li>
                                    <li class="nav-item"><a class="nav-link" href="transfer.html">Chuyển tiền</a></li>
                                    <li class="nav-item"><a class="nav-link" href="drawback.html">Rút tiền</a></li>
                                    <li class="nav-item"><a class="nav-link" href="mobileCard.html">Mua thẻ điện
                                            thoại</a></li>
                                    <li class="nav-item"><a class="nav-link" href="trade.html">Lịch sử giao dịch</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Liên hệ</a></li>
                            <li class="nav-item submenu dropdown d-lg-none">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                    aria-haspopup="true" aria-expanded="false">Thông tin</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="info.html">Thông tin cá nhân</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Đối mật khẩu</a></li>
                                    <li class="nav-item"><a class="nav-link" href="bosungCMND2.html">Bổ sung CMND</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="index.html">Đăng xuất</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
                <div class="right-button">
                    <ul>
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <li class="nav-item dropdown ml-auto">
                                <a class="nav-link dropdown-toggle text" href="#" id="navbardrop" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Lâm Chí Cường
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item text" href="info.html">
                                        <i class="bi bi-person mr-3"></i>
                                        <span class=""> Thông tin cá nhân</span>
                                    </a>
                                    <a class="dropdown-item text" href="#">
                                        <i class="bi bi-gear mr-3"></i>
                                        <span class=""> Đổi mật khẩu</span>
                                    </a>
                                    <a class="dropdown-item text" href="bosungCMND2.html">
                                        <i class="bi bi-person-square mr-3"></i>
                                        <span class=""> Bổ sung CMND</span>
                                    </a>
                                    <a class="dropdown-item text" href="index.html">
                                        <i class="bi bi-box-arrow-left mr-3"></i>
                                        <span class=""> Đăng Xuất</span>
                                    </a>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="logined-color">
            <form>
                <div class="row ">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-auto ">
                        <div class="mb-5 mt-5 mr-5 ml-5 operator-logined">
                            <div class="row form-group form-inline p-0">
                                <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                    <div class="app-background app justify-content-center align-items-center mt-5">
                                        <a href="deposit.html">
                                            <img src="/img/5.png" alt=""
                                                class="w-50 m-auto justify-content-center align-items-center">
                                            <div>
                                                <p class="align-items-center mt-3 text-menu"> Nạp tiền </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                    <div class="app-background app mt-5">
                                        <a href="./drawback.html">
                                            <img src="/img/4.png" alt="" class="w-50 m-auto align-items-center">
                                            <div>
                                                <p class="align-items-center mt-3 text-menu"> Rút tiền về thẻ </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                    <div class="app-background app mt-5">
                                        <a href="./transfer.html">
                                            <img src="/img/8.png" alt="" class="w-50 m-auto align-items-center">
                                            <div>
                                                <p class="align-items-center mt-3 text-menu"> Chuyển tiền </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                    <div class="app-background app mt-5">
                                        <a href="mobileCard.html">
                                            <img src="/img/6.png" alt="" class="w-50 m-auto align-items-center">
                                            <div>
                                                <p class="align-items-center mt-3 text-menu"> Mua thẻ điện thoại </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                    <div class="app-background app mt-5">
                                        <a href="trade.html">
                                            <img src="/img/9.png" alt="" class="w-50 m-auto align-items-center">
                                            <div>
                                                <p class="align-items-center mt-3 text-menu"> Lịch sử giao dịch </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

            </form>
        </div>
    </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>