<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/img/logo5.png" type="image/png" />
    <title>Space Holic</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="home_banner_area">

    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="form-color">
            <form action="/user/login-process" method="post">
                <div class="row ">
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 m-auto">
                        <a href="index.html"><img src="/img/logo5.png" class="logo-login"></a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 m-auto">
                        <div>
                            <div class="login-text text-center">Đăng nhập</div>
                            <div class="row form-group form-inline p-0">
                                <label class="col-4 col-sm-3 col-form-label" for="username">Tài khoản</label>
                                <input type="text" class="form-control col-8 " id="username" name="username" required>
                            </div>
                            <div class="row form-group form-inline p-0">
                                <label class="col-4 col-sm-3 col-form-label" for="password">Mật khẩu</label>
                                <input type="password" class="form-control col-8" id="password" name="password" required>
                            </div>

                            <div class="row form-group form-inline p-0">
                                <div class="col col-12">
                                    <div class="operator d-flex justify-content-center text-center">
                                        <div>
                                            <button type="submit" class=" login-button">Đăng Nhập</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group forgot-pass d-flex justify-content-center text-center ">
                                <a href="/user/recovery-pass">Quên mật khẩu / Tên đăng nhập</a>
                                </div>
                            </div>
                            <div class="row form-group forgot-pass d-flex justify-content-center text-center ">
                                <a href="#">Tạo tài khoản</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    </div>
    
    <div class=" form-group create-acc text-center">
        <a href="#">Tạo tài khoản</a>
    </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
            <p class="footer-text-1 m-0 col-lg-8 col-md-12">
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved <i aria-hidden="true"></i> by Space Holic
            </p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

</html>