<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="icon" href="img/logo5.png" type="image/png">
    <title>Space Holic</title>
    </body>
</head>

<body class="login-body">
    <div class="container h-100 ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12 m-auto">
                <div class=" form-color row d-flex justify-content-center align-items-center h-100 pt-5 pb-5">
                    <div class="h-100  d-flex align-self-start ">
                        <a href="./index.html" class="btn btn-warning text-center ml-1">Quay lại</a>
                    </div>
                    <div class="text-center h-100 mx-auto d-block col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4">
                        <img src="./img/logo5.png" class="logo-login">
                    </div>
                    <form action="/api/accounts/login" method="post" class="col-12 col-md-12 col-sm-12 col-lg-7 col-xl-7">
                        <div class="col-md-12 form-group form-inline justify-content-center align-items-center text-center">
                            <div class="login-text text-center">Trang đăng nhập</div>
                        </div>

                        <div class=" col-md-12 form-group form-inline p-0">
                            <label class="col-sm-3 col-form-label" for="">Tài khoản</label>
                            <input type="text" class="form-control col-8" name="username" required>
                        </div>
                        <div class="col-md-12 form-group form-inline p-0">
                            <label class="col-sm-3 col-form-label" for="">Mật khẩu</label>
                            <input type="password" class="form-control col-8" name="password" required>
                        </div>

                        <div class="operator form-group">
                            <div class="login-button">
                                <button type="submit">ĐĂNG NHẬP</button>
                            </div>
                        </div>

                        <div class=" form-group forgot-pass text-center">
                            <a href="#">Quên mật khẩu / Tên đăng nhập</a>
                        </div>

                        <div class=" form-group create-acc text-center">
                            <a href="#">Tạo tài khoản</a>
                        </div>

                    </form>
                </div>
                <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
                    <p class="footer-text-1 m-0 col-lg-8 col-md-12">
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved <i aria-hidden="true"></i> by Space Holic
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>