@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");


/* reset css*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

/* Body */
body {
  line-height: 24px;
  height: 100vh;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #7f7f7f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

/*Login */
.login-body {
  background-image: url(../img/banner/welcome3.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-attachment: fixed;
}

::-webkit-file-upload-button {
  display: none;
}

.login-text {
  font-style: normal;
  color: #000000;
  font-size: 50px;
  line-height: 82px;
  text-transform: uppercase;
  text-align: center;
}

form .operator .login-button{
  width: 100%;
}

form .operator {
  font-size: 20px;
  text-align: center;
}

form .operator button {
  height: 50px;
  width: 30%;
  font-size: 18px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
}

form .form-group label {
  font-size: 18px;
  color: #000;
}

.back-button .btn-warning{
  background-color: rgba(255, 124, 57, 255);
  color: white;
  border: none;
  width: 20%;
}

.back-button .btn-warning:hover {
  color: white;
  background-color: rgba(255, 94, 78, 255);
}

.back-btn .btn-warning {
  background-color: rgba(255, 124, 57, 255);
  color: white;
  border: none;
  text-decoration: none;
}
.back-btn .btn-warning:hover {
  color: white;
  background-color: rgba(255, 94, 78, 255);
}

.form-color {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 33px;
  width: 100%;
}

.logined-color{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 33px;
  width: 100%;
}

.trading-color{
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 30px;
  width: 100%;
}

.trading-color h1{
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
}

.trading-color p{
  color :rgba(0, 0, 0, 1);
  font-size: 20px;
}

.trading-color .table{
  color: black;
  font-size: 20px;
}

.trading-color td a{
  display: block;
  border: 1px;
  text-decoration: none;
  color: black;
}

.app-background a p{
  color: black;
}

.app-background {
  border: 1px solid;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.app-background:hover{
  background-color: rgba(240,188,132,0.5);
  transform: scale(1.15,1.15);
  font-weight: bold;
}

/* drawback  */
.logo-drawback{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

.req-drawback{
  margin-bottom: 16px;
}

.req-drawback .recoveryBack{
  background-color: rgba(255, 124, 57, 255);
  color: white;
}

.req-drawback .recoveryBack:hover{
  color: white;
  background-color: rgba(255, 94, 78, 255);
}

.drawback-text{
  margin-top: 16px;
}

.noti-drawback{
  color: #000;
  font-size: 30px;
}

.noti-drawback-text{
  color: #000;
  font-size: 16px;
}

form .form-group a {
  color: #000;
  font-size: 18px;
}

form .form-group .cmnd {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: black;
}

@media (min-width: 1620px) {
  .box_1620 {
    max-width: 1650px;
    margin: auto;
  }
}

/* bosungCMND2 */
.logo-bosung{
  width: 40%;
}

.bsback-button .btn-warning{
  background-color: rgba(255, 124, 57, 255);
  color: white;
  border: none;
  width: 40%;
}

.bsback-button .btn-warning:hover {
  color: white;
  background-color: rgba(255, 94, 78, 255);
}

.bsform-color {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  width: 70%;
}

.bslogin-text {
  font-style: normal;
  color: #000000;
  font-size: 45px;
  line-height: 82px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 960px){
  .bslogin-text{
    font-style: normal;
  color: #000000;
  font-size: 35px;
  line-height: 82px;
  text-transform: uppercase;
  text-align: center;
  }
}

@media (max-width :720px	) {
  .bsback-button .btn-warning{
    background-color: rgba(255, 124, 57, 255);
    color: white;
    border: none;
    width: 50%;
  }
  
  .bsback-button .btn-warning:hover {
    color: white;
    background-color: rgba(255, 94, 78, 255);
  }
}

@media (max-width: 540px	){
  .bslogin-text{
    font-style: normal;
  color: #000000;
  font-size: 20px;
  line-height: 82px;
  text-transform: uppercase;
  text-align: center;
  }
  .bsback-button .btn-warning{
    background-color: rgba(255, 124, 57, 255);
    color: white;
    border: none;
    width: 100%;
  }
  
  .bsback-button .btn-warning:hover {
    color: white;
    background-color: rgba(255, 94, 78, 255);
  }
}

/* mobileCard */
.mobileCard-textHeader{
  font-size: 40px;
  margin-bottom: 16px;
}

.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transition: background 0.4s, all 0.3s linear;
}

.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.header_area .navbar .logo_h {
  color: #fff;
  height: 80px;
  text-align: center;
  line-height: 69px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.header_area .navbar .navbar-brand {
  padding-top: 0;
}

.header_area .navbar .nav .nav-item {
  margin-right: 45px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font: 400 12px/80px "Poppins", sans-serif;
  text-transform: capitalize;
  color: #000;
  padding: 0px;
  display: inline-block;
  font-size: 14px;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link,
.header_area .navbar .nav .nav-item.active .nav-link {
  color: #000000;
}

.header_area .navbar .nav .nav-item:last-child {
  margin-right: 0px;
}

.header_area.navbar_fixed .main_menu {
  position: fixed;
  width: 100%;
  /* top: -70px; */
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, );
  /* transform: translateY(70px); */
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link {
  line-height: 70px;
}

.right-button {
  margin-top: 15px;
}

.right-button ul {
  padding: 0;
  list-style: none;
}

.right-button ul li {
  display: inline-block;
  font-size: 16px;
}

.right-button ul li a {
  color: #000;
}

@media (max-width: 991px) {
  .right-button {
    display: none;
  }
}

.right-button .sign_up {
  font-size: 14px;
  color: #222222;
  background: #fff;
  padding: 12px 38px;
  border-radius: 3px;
  font-weight: 500;
}

.right-button ul li .dropdown-menu a:hover {
  background: #f84b67;
  color: #fff;
}

.home_banner_area {
  position: relative;
  z-index: 1;
  height: 100vh;
  background: url(../img/banner/welcome3.png) no-repeat scroll center center;
  background-size: cover;
}

/* recover mail */
.logo-popup {
  height: 30%;
  width: 30%;
}

.logo-changepass {
  width: 30%;
}

.changepasstext {
  font-size: 18px;
  color: #000;
}

.recoveryHeader {
  font-style: normal;
  color: #000000;
  font-weight: bold;
  font-size: 50px;
  line-height: 40px;
  text-transform: uppercase;
}

.recoveryText {
  font-style: normal;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
}

.btn-danger {
  background-color: rgba(68, 200, 239, 255);
  border: none;
  color: white;
}

.btn-danger:hover {
  background-color: rgba(33, 61, 120, 100);
  border: none;
  color: white;
}

/* User info */
.userinfo h1 {
  font-style: normal;
  color: #000000;
  font-size: 40px;
  text-transform: uppercase;
}

/* submenu */
.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ffffff;
  margin-left: 0px;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #000;
  padding: 0px 30px;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #f84b67;
  color: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.hero-banner {
  background: url(../img/banner/bg.png) no-repeat scroll center center;
  position: relative;
  padding: 70px 0;
  background-size: cover;
  min-height: 450px;
}

@media (min-width: 768px) {
  .hero-banner {
    padding: 150px 0;
  }
}

@media (min-width: 1200px) {
  .hero-banner {
    padding: 110px 0;
  }
}

.hero-banner-sm {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 992px) {
  .hero-banner-sm {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.hero-banner h1 {
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 28px;
}

@media (min-width: 768px) {
  .hero-banner h1 {
    font-size: 60px;
    margin-bottom: 45px;
  }
}

.hero-banner h2 {
  font-size: 30px;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .hero-banner h2 {
    font-size: 42px;
  }
}

.hero-banner p {
  font-size: 22px;
  color: #000;
  margin-bottom: 0;
}

.banner-breadcrumb {
  display: inline-block;
}

.banner-breadcrumb .breadcrumb {
  background: transparent;
  padding: 0;
}

.banner-breadcrumb .breadcrumb-item {
  padding: .1rem;
}

.banner-breadcrumb .breadcrumb-item a {
  text-transform: capitalize;
  color: #000;
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  color: #000;
  padding-left: .2rem;
  padding-right: .4rem;
}

.banner-breadcrumb .breadcrumb-item.active {
  color: #000;
}

.banner-breadcrumb .breadcrumb-item a:hover {
  color: #f84b67;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

.button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 54px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid #f84b67;
  text-transform: uppercase;
  background: #f84b67;
  cursor: pointer;
  transition: all 300ms linear 0s;
}

@media (max-width: 767px) {
  .button {
    font-size: 13px;
    padding: 9px 24px;
  }
}

.button:hover {
  background: #f84b67;
  color: #fff;
}

.about-area {
  position: relative;
}

.about-area:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-image: url(../img/banner/about16.png);
  background-repeat: no-repeat;
  /* background-position: top left; */
  background-size: cover;
  right: 0;
  top: 0;
}

@media (max-width: 1199px) {
  .about-area:after {
    right: -44px;
    background-size: cover;
  }
}

@media (max-width : 960px) {
  .about-area:after {
    background-image: none;
  }
}

.footer-bottom .footer-text-1 {
  color: #000;
}

.footer-area {
  padding-top: 115px;
  background: #000000;
}

@media (max-width: 991px) {
  .footer-area {
    padding: 60px 0px;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }
}

.footer-area .single-footer-widget p {
  color: #7b838a;
}

.footer-area .single-footer-widget h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #fff;
}

.footer-area .footer-bottom .footer-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}

.footer-area .single-footer-widget img {
  width: 50%;
  height: 100%;
}

.footer-area .footer-address span {
  display: block;
  margin-bottom: 15px;
}

.footer-area .footer-logo {
  margin-top: 28px;
  display: block;
}

.footer-area .footer-bottom {
  border-top: 1px solid #4c4f60;
  margin-top: 51px;
  padding: 20px 0;
}

@media (max-width: 991px) {
  .header_area .navbar-collapse {
    padding: 15px 0px;
  }
}

@media (max-width: 767px) {
  .footer-area {
    padding-top: 70px;
  }

  .footer-bottom {
    margin-top: 35px;
  }
}
