<div class="container h-100 d-flex justify-content-center align-items-center">
    <div class="logined-color">
        <form>
            <div class="row ">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-auto ">
                    <div class="mb-5 mt-5 mr-5 ml-5 operator-logined">
                        <div class="row form-group form-inline p-0">
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app justify-content-center align-items-center mt-5">
                                    <a href="/user/deposit">
                                        <img src="/img/5.png" alt="" class="w-50 m-auto justify-content-center align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Nạp tiền </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app mt-5">
                                    <a href="/user/drawback">
                                        <img src="/img/4.png" alt="" class="w-50 m-auto align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Rút tiền về thẻ </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app mt-5">
                                    <a href="/user/transfer">
                                        <img src="/img/8.png" alt="" class="w-50 m-auto align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Chuyển tiền </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app mt-5">
                                    <a href="/user/mobile-card">
                                        <img src="/img/6.png" alt="" class="w-50 m-auto align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Mua thẻ điện thoại </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div role="button" class="col-12 col-xl-3 col-md-6 col-lg-4 col-sm-12 text-center">
                                <div class="app-background app mt-5">
                                    <a href="/user/trade">
                                        <img src="/img/9.png" alt="" class="w-50 m-auto align-items-center">
                                        <div>
                                            <p class="align-items-center mt-3 text-menu"> Lịch sử giao dịch </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>