<li class="nav-item"><a class="nav-link p-3" href="/user/deposit/<%= token%>">Danh sách người dùng</a></li>
<li class="nav-item"><a class="nav-link p-3" href="/user/transfer/<%= token%>">Danh sách giao dịch</a></li>