<li class="nav-item"><a class="nav-link" href="/user/deposit">Nạp tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/transfer">Chuyển tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/drawback">Rút tiền</a></li>
<li class="nav-item"><a class="nav-link" href="/user/mobile-card">Mua thẻ điện thoại</a></li>
<li class="nav-item"><a class="nav-link" href="/user/trade">Lịch sử giao dịch</a></li>