<tr>
    <td><a href="hoadoninfo.html">01</a></td>
    <td><a href="hoadoninfo.html">Chuyển tiền</a></td>
    <td><a href="hoadoninfo.html">20,000,000 VNĐ</a></td>
    <td><a href="hoadoninfo.html">11:30AM 25/05/2022</a></td>
    <td><a href="hoadoninfo.html">Chờ duyệt</a></td>
</tr>